@mjml()
  <mjml>
    <mj-body>
      <mj-section>
        <mj-column>
          <mj-text>
            Verify your email address
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
@end
